// Styles for header, search and language selector
@mixin form-controls-style() {
  background: $theme-bg-lighter;
  border-color: $theme-bg-lighter;
  color: $navbar-default-link-hover-color;
}

// Adds text shadow to links, which have custom underline colour to break the line for type decenders
@mixin textShadowToCropUnderline($shadow-color) {
  text-shadow: .03em 0 $shadow-color, -.03em 0 $shadow-color, 0 .03em $shadow-color, 0 -.03em $shadow-color, .06em 0 $shadow-color, -.06em 0 $shadow-color, .09em 0 $shadow-color, -.09em 0 $shadow-color, .12em 0 $shadow-color, -.12em 0 $shadow-color, .15em 0 $shadow-color, -.15em 0 $shadow-color;
}

@mixin customUnderline($underline-color) {
  text-decoration: none;
  background: linear-gradient($underline-color, $underline-color),
  linear-gradient($underline-color, $underline-color), linear-gradient($underline-color, $underline-color);
  // Second value of each is width of line
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 87%, 87%, 87%;
  }

  &:before,
  &:after,
  *,
  *:before,
  *:after {
    text-shadow: none;
  }
}

$theme-colors: (
  red: #E51016,
  dark-red: #AD161E,
  pink: #B32A95,
  purple: #6239C8,
  blue: #1F6BFE,
  dark-blue: #123581,
  default-accent: #0F7EB2,
  default-background: #001F2C,
  teal: #00837A,
  green: #298436,
  dark-orange: #D34300,
  dark-ochre: #947200,
  black: #111,
  dark-grey: #555,
  light-grey: #EAEAEA,
  white: #FFF,
);

/**
 * Theme header color
 */
@mixin theme-header-color {
  @each $name, $color in $theme-colors {

    &.theme-header-#{$name} {
      background-color: $color;
    }
  }
}

/**
 * Theme nav color
 */
@mixin theme-nav-color {
  @each $name, $color in $theme-colors {
    &.theme-nav-#{$name} {
      background-color: $color;
    }
  }
}

/**
 * Theme footer color
 */
@mixin theme-footer-color {
  @each $name, $color in $theme-colors {
    &.theme-footer-#{$name} {
      background-color: $color;
    }
  }
}

/**
 * Theme carousel color.
 * The background colour of the carousel when there is no image set.
 */
@mixin theme-carousel-color {
  @each $name, $color in $theme-colors {
    &.theme-carousel-#{$name} {
      background-color: $color;
    }
  }
}

/**
 * Theme accent color. You can specify a different CSS property
 * to use this color when calling the mixin.
 * e.g. @include theme-accent-color('color')
 */
@mixin theme-accent-color($rule: 'background-color') {
  @each $name, $color in $theme-colors {
    body.theme-accent-#{$name} & {
      #{$rule}: $color;
    }
  }
}

/**
 * Theme link colors
 */
@mixin theme-link-color {
  @each $name, $color in $theme-colors {
    body.theme-link-#{$name} & {
      background-color: $color;
    }
  }
}
