// Font selected from google fonts
@import url("//fonts.googleapis.com/css?family=Fira+Sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800ii&subset=latin-ext");
@import url("//fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,800,800ii&subset=latin-ext");

/**
 * This is where all your colours are declared.
 *
 * The key should match the $theme_colors configuration
 * applied to SiteConfig, and is equivalent to
 * the name of the class to apply the theme colour.
 *
 * Classes are in the format of 'theme-{$area}-{$color}'
 * and are declared on the body, so that they
 * can be accessed and applied to any element.
 */
$theme-colors: (
  red: #E51016,
  dark-red: #AD161E,
  pink: #B32A95,
  purple: #6239C8,
  blue: #1F6BFE,
  dark-blue: #123581,
  default-accent: $brand-primary,
  default-background: $theme-bg,
  teal: #00837A,
  green: #298436,
  dark-orange: #D34300,
  dark-ochre: #947200,
  black: #111,
  dark-grey: $gray,
  light-grey: #EAEAEA,
  white: #FFF,
) !default;

$theme-fonts: (
  nunito: (
    'Nunito Sans',
    'sans-serif'
  ),
  fira-sans: (
    'Fira Sans',
    'sans-serif'
  ),
  merriweather: (
    'Merriweather',
    'serif'
  )
) !default;

/**
 * Theme color mixin for all areas on the site.
 *
 * Current areas used:
 *
 * Header - .theme-header-{$color}
 *
 * Nav - .theme-nav-{$color}
 *
 * Footer - .theme-footer-{$color}
 *
 * Carousel - .theme-carousel-{$color}
 *   The background colour of the carousel when there is no image set.
 *
 * Accent - .theme-accent-{$color}
 *   Affects colour of buttons, current navigation items etc.
 *
 * Link - .theme-link-{$color}
 *
 * @param {string} $area - Area or element that this theme colour applies to
 * @param {string} $property ['background-color'] - You can specify a different
 * CSS property to use when calling the mixin.
 * @param {string} $modifier ['none'] - Sass function to manipulate the color.
 * @param {number} $amount [0%] - Amount to manipulate by
 *
 * @example: @include theme-accent-color('background-color', 'lighten', 20%).
 */
@mixin theme-color($area, $property: 'background-color', $modifier: 'none', $amount: 0%) {
  @each $name, $color in $theme-colors {
    body.theme-#{$area}-#{$name} & {
      @if ($modifier == 'none') {
        #{$property}: $color;
      } @else if ($modifier == 'lighten') {
        #{$property}: lighten($color, $amount);
      } @else if ($modifier == 'darken') {
        #{$property}: darken($color, $amount);
      }
    }
  }
}

@mixin theme-font() {
  @each $name, $font in $theme-fonts {
    &.theme-font-#{$name} {
      @if (nth($font, 2) == 'serif') {
        font-family: nth($font, 1), Georgia, "Times New Roman", Times, serif;
      } @else {
        font-family: nth($font, 1), "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }
  }
}
